<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <p style="margin: 0px">Hi {{data[1]}},</p>
    <br />
    <p style="margin: 0px">
      Here's the <b>Kanban Monthly Report</b>. Take a look at all that you have
      accomplished the previous month.
    </p>
    <p style="margin: 0px">Monthly Stats:</p>
    <ul style="margin: 0px">
      <li>Total Tasks: {{tasks}}</li>
      <li>Total Tasks Completed: {{completed}}</li>
      <li>Total Tasks Missed: {{missed}}</li>
    </ul>
    <br />
    <p style="margin: 0px">Regards,</p>
    <p style="margin: 0px">Kanban Team</p>
  </body>
</html>
